[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aiohttp = "*"
aiocache = "*"
aiofiles = "*"
aioredis = "*"
"psycopg2-binary" = ">=2.7.3.2"
uvloop = "*"
gunicorn = "*"
requests = "*"
pytest = "*"
pytest-asyncio = "*"

[dev-packages]
flake8 = "*"
pylint = "*"
isort = "*"

[requires]
python_version = "3.7"
