[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aiohttp = {extras = ["speedups"], version = ">=2.3.5"}
aiohttp-jwt = "*"
<%_ if (use_postgres) { _%>
aiopg = "*"
"psycopg2-binary" = ">=2.7.3.2"
<%_ } _%>
<% if (use_redis) { %>aioredis = "*"<% } %>
aiofiles = "*"
uvloop = "*"
gunicorn = "*"
pytest = "*"
pytest-aiohttp = "*"
pytest-flakes = "*"

[dev-packages]
pylint = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.6"
